<!DOCTYPE html>
<html>
<head>
	<title>Comments</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="comment.js"></script>
	<style type="text/css" rel="stylesheet" src="/style.css"></style>
</head>
<body>

<h1>Comments</h1>
	<div id="comments">
		
	</div>

<h3>Create New Comment</h3>
	<form id="comment-form">
    <input name="content" id="comment-content-field" />
    <button type="submit" id="comment-create-button">Submit</button>
  </form>

</body>
</html>