body {
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
img {
	border: 1px solid white;
	margin-left: 3px;
	margin-top: 3px;
}
.nav_bar {
	width: 1250px;
	margin-right: 50px;
	margin-left: 50px;
	background-color:#ff4500;
	display: inline-block;
}

.row {
	width: 1250px;
	margin-right: 50px;
	margin-left: 50px;
	background-color:#eee8dc;
}

.left_nav {
	float: left;

}

.right_nav {
	float: right;
	padding-top: 6px;
	padding-right: 3px;
}

.comments {
	font-size: 10px;
	color: #8b8878;
}

.comment_descriptors {
	font-size: 5px;
	color: #8b8878;
}


/*.full-column {
	margin: auto;
	width: 1000px;
	background-color:#faf0e6;
}*/